{{ summaryList({
        card: {
          heading: "Recipients",
          headingSize: "m",
          actions: {
            items: [
              {
                text: "Edit",
                href: "/maternity-patient-list-2-0-0/patients"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Patients"
            },
            value: {
              text: "238"
            }
          },
          {
            key: {
              text: "RSV status"
            },
            value: {
              html: tag({
                text: "Eligible",
                colour: "yellow"
                })
            }
          },
          {
            key: {
              text: "Weeks pregnant"
            },
            value: {
              html: "26 weeks"
            }
          },
          {
            key: {
              text: "Opted out"
            },
            value: {
              html: "4 patients <br> (automatically removed)"
            }
          }
        ]
      }) }}