{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "Check details and send" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>

      {# {% include "invites/_upload-date.html" %} #}

      {# {% include "invites/_bereavement-warning.html" %} #}

      {% include "invites/_filtered-patient-list.html" %}

      {{ summaryList({
        card: {
          heading: "Invitation details",
          headingSize: "m"
        },
        rows: [
        {
            key: {
              text: "Pregnancy loss"
            },
            value: {
              html: "Check complete"
            },
            actions: {
              items: [
                {
                  href: "message-pregnancy-loss",
                  text: "Change",
                  visuallyHiddenText: "Pregnancy loss"
                }
              ]
            }
          }
          ,
        {
            key: {
              text: "Invitation or reminder"
            },
            value: {
              html: "Invitation"
            },
            actions: {
              items: [
                {
                  href: "message-type",
                  text: "Change",
                  visuallyHiddenText: "Invitation or reminder"
                }
              ]
            }
          },
        {
            key: {
              text: "Type"
            },
            value: {
              html: "Text message"
            },
            actions: {
              items: [
                {
                  href: "message-type",
                  text: "Change",
                  visuallyHiddenText: "method"
                }
              ]
            }
          },
          {
            key: {
              text: "Template name"
            },
            value: {
              text: "Invite for RSV at 20 weeks"
            },
            actions: {
              items: [
                {
                  href: "message-template",
                  text: "Change",
                  visuallyHiddenText: "template"
                }
              ]
            }
          },
          {
            key: {
              text: "Message body"
            },
            value: {
              text: "You're invited to get the RSV vaccination during pregnancy to help protect you and your baby. Please contact your maternity team or book online if you are 20 weeks or more."
            },
            actions: {
              items: [
                {
                  href: "message-template",
                  text: "Change",
                  visuallyHiddenText: "template"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="confirmation" method="post" novalidate>
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Confirm and send
          </button>

      </form>

    </div>
  </div>
{% endblock %}