{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "Message sent" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ panel({
        titleText: pageTitle,
        text: "354 patients have been sent an RSV invitation message"
      }) }}
      
      <p class="nhsuk-body">When a patient receives their RSV vaccination, they will show as <strong>'Vaccinated'</strong> in your list of patients.</p>

      <p class="nhsuk-body">
        <a href="message-start">Send another message</a>
      </p>

    </div>
  </div>
{% endblock %}