{% extends 'layout.html' %}

{% block header %}
  {% include "includes/header-index-only.html" %}
{% endblock %}

{% set pageTitle = "Invites" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <span class="nhsuk-caption-l">Post MVP</span>
      <h1 class="nhsuk-heading-xl">{{ pageTitle }}</h1>

      <h2 class="nhsuk-heading-m">Navigation pages</h2>

      <ul class="nhsuk-list">
        <li><a href="landing">Maternity landing page</a></li>
        <li><a href="invites-landing">Invites landing page</a></li>
      </ul>

      <h2 class="nhsuk-heading-m">Filter patient list</h2>

      <ul class="nhsuk-list">
        <li><a href="/maternity-patient-list-2-0-0/patients">Patients</a></li>
      </ul>
      
      <h2 class="nhsuk-heading-m">Create and send message</h2>

      <ul class="nhsuk-list">
        <li><a href="message-start">Start of send a message</a></li>
        <li><a href="message-pregnancy-loss">Termination, miscarriage or baby loss</a></li>
        <li><a href="message-template-type">Invitation or reminder</a></li>
        <li><a href="message-type">Select message type</a></li>
        <li><a href="message-template">Select template</a></li>
        <li><a href="template-edit">Edit template</a></li>
        <li><a href="check-answers">Check answers</a></li>
        <li><a href="confirmation">Confirmation</a></li>
      </ul>


      <h2 class="nhsuk-heading-m">View single patient</h2>

      <ul class="nhsuk-list">
        <li><a href="patient-detail?flag">Patient detail</a></li>
        <li><a href="patient-add-flag">Add flag to  patient</a></li>
        <li><a href="patient-add-flag-check">Check answers</a></li>
        <li><a href="patient-detail?flag=success">Patient detail with success notification</a></li>
      </ul>

      <h2 class="nhsuk-heading-m">History</h2>

      <ul class="nhsuk-list">
        <li><a href="message-history">Message history</a></li>
        <li><a href="message-detail">Message detail</a></li>
      </ul>

      <h2 class="nhsuk-heading-m">Templates</h2>

      <ul class="nhsuk-list">
        <li><a href="templates">Templates</a></li>
        <li><a href="template-detail">Template detail preview</a></li>
        <li><a href="template-create-new">Create a template</a></li>
      </ul>

    </div>
  </div>
{% endblock %}