{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "Manage invites and reminders" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          {{ card({
            href: "/maternity-patient-list-2-0-0/patients",
            primary: "true",
            clickable: "true",
            heading: "Send",
            headingSize: "m",
            description: "Filter patient list then send an invitation or reminder"
            }) }}
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          {{ card({
            href: "message-history",
            primary: "true",
            clickable: "true",
            heading: "History",
            headingSize: "m",
            description: "View a list of messages your organisation has sent"
            }) }}
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          {{ card({
            href: "templates",
            primary: "true",
            clickable: "true",
            heading: "Templates",
            headingSize: "m",
            description: "View, edit or create existing templates, or create new ones"
            }) }}
        </li>
      </ul>

    </div>
  </div>

{% endblock %}