{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "Are you sending an invitation or reminder?" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ radios ({
        idPrefix: "example-hints",
        name: "exampleHints",
        fieldset: {
          legend: {
            text: pageTitle,
            size: "l",
            isPageHeading: true
          }
        },
        items: [
          {
            value: "invitation",
            text: "Invitation"
          },
          {
            value: "reminder",
            text: "Reminder"
          }
        ]
      }) }}

      {{ button({
        text: "Continue",
        href: "message-type"
      }) }}

    </div>
  </div>
{% endblock %}