{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "Message type" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ checkboxes({
        idPrefix: "example-hints",
        name: "exampleHints",
        fieldset: {
          legend: {
            text: pageTitle,
            size: "l",
            isPageHeading: true
          }
        },
        hint: {
          text: "Select all options that are relevant to you"
        },
        items: [
          {
            value: "text",
            text: "Text message"
          },
          {
            value: "email",
            text: "Email"
          },
          {
            value: "app",
            text: "NHS App"
          }
        ]
      }) }}

      {{ button({
        text: "Continue",
        href: "message-template"
      }) }}

    </div>
  </div>
{% endblock %}