{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "View sent message" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "landing",
        text: "Maternity"
      },
      {
        href: "invites-landing",
        text: "Invites"
      },
      {
        href: "message-history",
        text: "History"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>

      {{ card({
        description: "Um dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit"
      }) }}

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Template"
            },
            value: {
              text: "Invite for RSV at 20 weeks"
            }
          },
          {
            key: {
              text: "Version"
            },
            value: {
              text: "7"
            }
          },
          {
            key: {
              text: "User"
            },
            value: {
              text: "Jeremy Blue"
            }
          },
          {
            key: {
              text: "Date"
            },
            value: {
              html: "18 Aug 2026"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}