{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "View sent message" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Template name"
            },
            value: {
              text: "Invite for RSV at 20 weeks"
            }
          },
          {
            key: {
              text: "Message body"
            },
            value: {
              text: "You're invited to get the RSV vaccination during pregnancy to help protect you and your baby. Please contact your maternity team or book online if you are 20 weeks or more."
            }
          },
          {
            key: {
              text: "User"
            },
            value: {
              text: "Jeremy Blue"
            }
          },
          {
            key: {
              text: "Date"
            },
            value: {
              html: "18 Aug 2026"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}