{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "Create invitation or reminder" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>

      {# {% include "invites/_upload-date.html" %} #}

      {# {% include "invites/_bereavement-warning.html" %} #}

      {% include "invites/_filtered-patient-list.html" %}

      {{ button({
        text: "Continue",
        href: "message-pregnancy-loss"
      }) }}

    </div>
  </div>
{% endblock %}