{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "Message history" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>

      {{ table({
        caption: pageTitle,
        captionClasses: "nhsuk-u-visually-hidden",
        firstCellIsHeader: true,
        head: [
          {
            text: "Template"
          },
          {
            text: "User"
          },
          {
            text: "Date"
          },
          {
            text: "Actions"
          }
        ],
        rows: [
          [
            {
              text: "Invite for RSV at 20 weeks"
            },
            {
              text: "Jeremy Blue"
            },
            {
              text: "18 Aug 2026"
            },
            {
              html: "<a href='message-detail'>View</a>"
            }
          ],
          [
            {
              text: "Invite for RSV at 20 weeks"
            },
            {
              text: "Jane Smith"
            },
            {
              text: "9 Aug 2026"
            },
            {
              html: "<a href='message-detail'>View</a>"
            }
          ],
          [
            {
              text: "Invite for RSV at 20 weeks"
            },
            {
              text: "Jane Smith"
            },
            {
              text: "9 Jul 2026"
            },
            {
              html: "<a href='message-detail'>View</a>"
            }
          ]
        ]
      }) }}

    </div>
  </div>
{% endblock %}