{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "Template detail" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "landing",
        text: "Maternity"
      },
      {
        href: "invites-landing",
        text: "Invites"
      },
      {
        href: "templates",
        text: "Templates"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Title"
            },
            value: {
              text: "Invite for RSV at 20 weeks"
            }
          },
          {
            key: {
              text: "Version"
            },
            value: {
              text: "7"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "View history",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Message body"
            },
            value: {
              html: "Um dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit"
            },
            actions: {
              items: [
                {
                  href: "template-edit",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}