{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "Templates" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "landing",
        text: "Maternity"
      },
      {
        href: "invites-landing",
        text: "Invites"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>

      {{ button({
        text: "Create new template",
        href: "template-create-new"

      }) }}

      <ul class="nhsuk-card-group">
        <li class="nhsuk-card-group__item">
          {{ card({
            heading: "Invite for RSV at 20 weeks",
            headingSize: "m",
            actions: {
              items: [
                {
                  text: "View",
                  href: "template-detail"
                },
                {
                  text: "Edit",
                  href: "template-edit"
                }
              ]
            },
            description: "Um dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit"
            }) }}
        </li>
        <li class="nhsuk-card-group__item">
          {{ card({
            heading: "Invite for RSV at 20 weeks",
            headingSize: "m",
            actions: {
              items: [
                {
                  text: "View",
                  href: "template-detail"
                },
                {
                  text: "Edit",
                  href: "template-edit"
                }
              ]
            },
            description: "Um dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit"
            }) }}
        </li>
        <li class="nhsuk-card-group__item">
          {{ card({
            heading: "Invite for RSV at 20 weeks",
            headingSize: "m",
            actions: {
              items: [
                {
                  text: "View",
                  href: "template-detail"
                },
                {
                  text: "Edit",
                  href: "template-edit"
                }
              ]
            },
            description: "Um dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit"
            }) }}
        </li>
      </ul>

    </div>
  </div>

{% endblock %}