{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "Templates" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>

      {{ button({
        text: "Create new template",
        href: "template-create-new"

      }) }}

      <ul class="nhsuk-card-group">
        <li class="nhsuk-card-group__item">
          {{ card({
            heading: "Invite for RSV at 20 weeks",
            headingSize: "m",
            actions: {
              items: [
                {
                  text: "View",
                  href: "template-detail"
                },
                {
                  text: "Edit",
                  href: "template-edit"
                }
              ]
            },
            description: "You're invited to get the RSV vaccination during pregnancy to help protect you and your baby. Please contact your maternity team or book online if you are 20 weeks or more."
            }) }}
        </li>
        <li class="nhsuk-card-group__item">
          {{ card({
            heading: "Invite for RSV at 20 weeks",
            headingSize: "m",
            actions: {
              items: [
                {
                  text: "View",
                  href: "template-detail"
                },
                {
                  text: "Edit",
                  href: "template-edit"
                }
              ]
            },
            description: "You're invited to get the RSV vaccination during pregnancy to help protect you and your baby. Please contact your maternity team or book online if you are 20 weeks or more."
            }) }}
        </li>
        <li class="nhsuk-card-group__item">
          {{ card({
            heading: "Invite for RSV at 20 weeks",
            headingSize: "m",
            actions: {
              items: [
                {
                  text: "View",
                  href: "template-detail"
                },
                {
                  text: "Edit",
                  href: "template-edit"
                }
              ]
            },
            description: "You're invited to get the RSV vaccination during pregnancy to help protect you and your baby. Please contact your maternity team or book online if you are 20 weeks or more."
            }) }}
        </li>
      </ul>

    </div>
  </div>

{% endblock %}