{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "There was a problem with your upload" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        {{ pageTitle }}
      </h1>
      <p class="nhsuk-body">
        There were issues with the data in the CSV file you uploaded.
      </p>
      <p class="nhsuk-body">
        The CSV file should include a header row followed by data rows. The header row must include two columns: NHS number, Due date.
      </p>
      <p class="nhsuk-body">
        You must use a UK format for all due dates.
      </p>
      <p class="nhsuk-body nhsuk-u-margin-bottom-2">
        For example:
      </p>
      <code class="nhsuk-body" data-line="">
        NHS number, Due date<br>
        1234567890, 27/04/2026<br>
        0987654321, 11/12/2026  
      </code>
      <p class="nhsuk-body">  
        Your file may have failed if the due date for one or more records is:
      </p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>invalid</li>
        <li>missing</li>
        <li>not in a UK format</li>
        <li>duplicated</li>
      </ul>
      <p class="nhsuk-body">
        NHS numbers must be valid, contain 10 digits and only include numbers.
      </p>
      <p class="nhsuk-body">
        Check the data and upload a new CSV file.
      </p>

      <h2 class="nhsuk-heading-m">
        Questions and support
      </h2>
      <p class="nhsuk-body">
        If you need help or have questions about adding patients, email <a href="mailto:england.ravs@nhs.net">england.ravs@nhs.net</a> to contact the team.
      </p>

      <p class="nhsuk-body">
        <a href="add-patients?scenario=firstUpload" class="nhsuk-button" data-module="nhsuk-button">Add patients</a>
      </p>
    </div>
  </div>
{% endblock %}
