{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "Upload in progress" %}
  
{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel nhsuk-panel--interruption">
        <h1 class="nhsuk-panel__title">
          {{ pageTitle }}
        </h1>
        <div class="nhsuk-panel__body">
            You will get an email when your new list of patients is ready
        </div>
      </div>

      <p class="nhsuk-body">
        We are checking the patient records you uploaded match the vaccination information we hold about your patients. Any patients in your CSV file that do not have an NHS number will not appear in your list of pregnant patients in RAVS.
      </p>
      <p class="nhsuk-body">
        It could take several hours to match vaccination information. You cannot view your list of patients during this time. 
      </p>

      <h2 class="nhsuk-heading-m">
        Questions and support
      </h2>
      <p class="nhsuk-body">
        If you need help or have questions about adding patients, email <a href="mailto:england.ravs@nhs.net">england.ravs@nhs.net</a> to contact the team.
      </p>

      <p class="nhsuk-body">
        <a href="change-log?uploadedList=processing">View patient upload history</a>
      </p>

    </div>
  </div>
{% endblock %}