{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = 'Maternity' %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {# START: NOTIFICATION BANNER #}
      {% set htmlNotificationBannerHeader %}
        The service will be unavailable from 8pm to 9pm on {{ date({ weekday: "long", day: "numeric", month: "long", year: "numeric" }) }}.
      {% endset %}

      {% set htmlNotificationBannerBody %}
        <p>
          Contact
          <a class="nhsuk-notification-banner__link" href="#/">england.ravs@nhs.net</a> if you think there's a problem.
        </p>
      {% endset %}

      {{ notificationBanner({
        heading: {
          html: htmlNotificationBannerHeader,
          element: "p"
        },
        html: htmlNotificationBannerBody
      }) }}
      {# END: NOTIFICATION BANNER #}

      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4">
        {{ pageTitle }}
      </h1>
      <p class="nhsuk-body">View, filter and export vaccination information for your pregnant&nbsp;patients.</p>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">    

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--primary">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                {% if data.scenario === "" %}
                  <a class="nhsuk-card__link" href="add-patients?scenario=firstUpload">Add patients</a>
                {% else %}
                  <a class="nhsuk-card__link" href="add-patients?scenario=processing">Add patients</a>
                {% endif %}
              </h2>
              <p class="nhsuk-card__description">Add or replace a list of pregnant patients</p>
              <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z" />
              </svg>
            </div>
          </div>
        </li>
      </ul>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--primary">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="patients?scenario=firstUpload">Patients</a>
              </h2>
              <p class="nhsuk-card__description">View current list of pregnant patients</p>
              <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z" />
              </svg>
            </div>
          </div>
        </li>
      </ul>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--primary">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="change-log">Patient upload history</a>
              </h2>
              <p class="nhsuk-card__description">View a record of all uploaded patient lists</p>
              <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z" />
              </svg>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}