{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "Sorry, there is a problem with the service" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block content %}
	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-two-thirds">

			<h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>

			<p class="nhsuk-body">
				Try again later.
			</p>
			<p class="nhsuk-body">
				[Link to feedback form]
			</p>
			<p class="nhsuk-body">
				[Other helpful information]
			</p>

		</div>
	</div>
{% endblock %}
