<details class="nhsuk-details nhsuk-expander">

  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      How eligibility status tags work
    </span>
  </summary>

  <div class="nhsuk-details__text">

    <!-- HOW ELIGIBILITY STATUS TAGS WORKS -->
    <table class="nhsuk-table-responsive eligibility-table nhsuk-u-margin-bottom-6">
      <caption class="nhsuk-table__caption nhsuk-u-visually-hidden" id="how-eligibility-status-tags-work-caption">
        How eligibility status tags work
      </caption>
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th scope="col" class="nhsuk-table__header">
            Status
          </th>
          <th scope="col" class="nhsuk-table__header">
            RSV
          </th>
          <th scope="col" class="nhsuk-table__header">
            Pertussis
          </th>
          <th scope="col" class="nhsuk-table__header">
            Flu
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row" role="row">
          <th scope="row" class="nhsuk-table__header">
            <span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong><span class="nhsuk-u-visually-hidden"> status</span></span>
          </th>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span>
            <p class="nhsuk-body-s app-table-cell-value">
              Patient has been vaccinated after reaching 16 weeks of their current pregnancy.
            </p>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span>
            <p class="nhsuk-body-s app-table-cell-value">
              Patient has been vaccinated during this pregnancy after 16 weeks.
            </p>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span>
            <p class="nhsuk-body-s app-table-cell-value">
              Patient has received the seasonal flu vaccine during this pregnancy.
            </p>
          </td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <th scope="row" class="nhsuk-table__header">
            <span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong><span class="nhsuk-u-visually-hidden"> status</span></span>
          </th>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span>
            <p class="nhsuk-body-s app-table-cell-value">
              Patient is at least 28 weeks pregnant.
            </p>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span>
            <p class="nhsuk-body-s app-table-cell-value">
              Patient is at least 16 weeks pregnant.
            </p>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span>
            <p class="nhsuk-body-s app-table-cell-value">
              Patient is pregnant and the seasonal flu vaccination programme is open.
            </p>
          </td>
        </tr>
        <tr class="nhsuk-table__row" role="row">
          <th scope="row" class="nhsuk-table__header">
            <span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-nowrap">Not&nbsp;yet&nbsp;eligible</strong><span class="nhsuk-u-visually-hidden"> status</span></span>
          </th>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span>
            <p class="nhsuk-body-s app-table-cell-value">
              Patient is not yet 28 weeks pregnant.
            </p>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span>
            <p class="nhsuk-body-s app-table-cell-value">
              Patient is not yet 16 weeks pregnant.
            </p>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span>
            <p class="nhsuk-body-s app-table-cell-value">
              The seasonal flu vaccination programme has not yet started.
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- RECOMMENDED VACCINATION WINDOW -->
    <table class="nhsuk-table-responsive eligibility-table nhsuk-u-margin-bottom-6">
      <caption class="nhsuk-table__caption" id="recommended-vaccination-window-caption">
        Recommended vaccination window
      </caption>
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row" role="row">
          <th scope="col" class="nhsuk-table__header" role="rowheader">
            RSV
          </th>
          <th scope="col" class="nhsuk-table__header" role="rowheader">
            Pertussis
          </th>
          <th scope="col" class="nhsuk-table__header" role="rowheader">
            Flu
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span>
            <p class="nhsuk-body-s app-table-cell-value">
              Between 28 and 36 weeks, but the patient can be vaccinated up until delivery.
            </p>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span>
            <p class="nhsuk-body-s app-table-cell-value">
              Between 16 and 32 weeks, but the patient can be vaccinated up to 8 weeks after giving birth, if needed.
            </p>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span>
            <p class="nhsuk-body-s app-table-cell-value">
              At any stage of pregnancy from 1 September. Vaccination should be offered as soon as possible during the flu season.
            </p>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</details>

<table class="nhsuk-table nhsuk-table--sortable nhsuk-table-responsive" data-module="nhsuk-table">
  <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Patients <span class="nhsuk-u-visually-hidden">(Column headers are sortable)</span></caption>
  <thead class="nhsuk-table__head">
    <tr class="nhsuk-table__row">
      <th class="nhsuk-table__header" scope="col">Name and NHS number</th>
      <th class="nhsuk-table__header" scope="col" data-sort aria-sort="descending" data-sort-next="ascending">Weeks pregnant and due date</th>
      <th class="nhsuk-table__header" scope="col" data-sort>RSV</th>
      <th class="nhsuk-table__header" scope="col" data-sort>Pertussis</th>
      <th class="nhsuk-table__header" scope="col" data-sort>Flu</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row" role="row">
      {#<td>P001</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Bailey, Sarah"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Bailey, Sarah<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">104 832 7715</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="39"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">39 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">6 May 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="2-2026-02-11"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong><span class="app-table-secondary-value">From 11 Feb 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="2-2025-11-18"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong><span class="app-table-secondary-value">From 18 Nov 2025</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 Sep 2026</span></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P002</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Edwards, Janet"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Edwards, Janet<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">589 204 6632</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="37"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">37 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">18 May 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="2-2026-02-23"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong><span class="app-table-secondary-value">From 23 Feb 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="2-2025-11-30"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong><span class="app-table-secondary-value">From 30 Nov 2025</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 Sep 2026</span></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P003</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Barnes, Carole"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Barnes, Carole<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">771 395 0284</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="35"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">35 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">2 Jun 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="2-2026-03-10"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong><span class="app-table-secondary-value">From 10 Mar 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="2-2025-12-16"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong><span class="app-table-secondary-value">From 16 Dec 2025</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 Sep 2026</span></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P004</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Stevenson, Maureen"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Stevenson, Maureen<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">236 880 9147</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="33"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">33 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">15 Jun 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="1"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong></span></td>
      <td class="nhsuk-table__cell" data-sort-value="1"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong></span></td>
      <td class="nhsuk-table__cell" data-sort-value="1"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P005</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Burns, Anne"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Burns, Anne<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">915 447 3026</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="31"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">31 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">29 Jun 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="1"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong></span></td>
      <td class="nhsuk-table__cell" data-sort-value="1"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong></span></td>
      <td class="nhsuk-table__cell" data-sort-value="1"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P006</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Williams, Natasha"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Williams, Natasha<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">348 129 7753</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="29"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">29 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">10 Jul 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="2-2026-04-17"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong><span class="app-table-secondary-value">From 17 Apr 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="2-2026-01-23"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong><span class="app-table-secondary-value">From 23 Jan 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 Sep 2026</span></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P007</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Davison, Joyce"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Davison, Joyce<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">662 540 1988</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="27"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">27 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">24 Jul 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-05-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 May 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="2-2026-02-06"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong><span class="app-table-secondary-value">From 6 Feb 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 Sep 2026</span></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P008</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Bennett, Jenna"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Bennett, Jenna<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">703 216 4591</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="25"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">25 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">6 Aug 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-05-14"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 14 May 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="1"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong></span></td>
      <td class="nhsuk-table__cell" data-sort-value="1"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P009</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Davison, Michelle"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Davison, Michelle<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">829 771 0346</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="23"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">23 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">20 Aug 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-05-28"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 28 May 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="1"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong></span></td>
      <td class="nhsuk-table__cell" data-sort-value="1"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P010</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Begum, Nicola"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Begum, Nicola<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">451 903 2287</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="21"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">21 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">3 Sep 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-06-12"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 12 Jun 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="2-2026-03-19"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong><span class="app-table-secondary-value">From 19 Mar 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 Sep 2026</span></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P011</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="King, Charlene"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">King, Charlene<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">667 118 5902</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="19"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">19 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">17 Sep 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-06-26"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 26 Jun 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="2-2026-04-02"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong><span class="app-table-secondary-value">From 2 Apr 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 Sep 2026</span></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P012</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Chambers, Katherine"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Chambers, Katherine<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">294 660 8735</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="17"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">17 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">30 Sep 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-07-09"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 9 Jul 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="2-2026-04-15"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong><span class="app-table-secondary-value">From 15 Apr 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 Sep 2026</span></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P013</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Shaw, Joyce"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Shaw, Joyce<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">830 552 1494</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="15"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">15 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">14 Oct 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-07-23"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 23 Jul 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-04-29"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 29 Apr 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 Sep 2026</span></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P014</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Hobbs, Molly"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Hobbs, Molly<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">172 449 6008</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="13"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">13 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">28 Oct 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-08-06"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 6 Aug 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-05-13"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 13 May 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 Sep 2026</span></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P015</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="O'Sullivan, Francesca"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">O'Sullivan, Francesca<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">905 731 2843</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="11"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">11 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">11 Nov 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-08-20"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 20 Aug 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-05-27"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 27 May 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 Sep 2026</span></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P016</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Power, Elaine"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Power, Elaine<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">318 067 5592</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="9"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">9 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">25 Nov 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-03"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 3 Sep 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-06-10"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 10 Jun 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 Sep 2026</span></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P017</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Phillips, Maureen"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Phillips, Maureen<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">746 882 1307</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="7"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">7 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">9 Dec 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-17"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 17 Sep 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-06-24"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 24 Jun 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 Sep 2026</span></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P018</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Brown, Sally"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Brown, Sally<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">529 304 7716</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="5"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">5 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">23 Dec 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-30"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 30 Sep 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-07-08"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 8 Jul 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 Sep 2026</span></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#td>P019</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Brown, Sharon"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Brown, Sharon<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">681 220 4985</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="30"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">30 weeks<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">6 Jan 2027</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-10-14"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 14 Oct 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-07-22"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 22 Jul 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 Sep 2026</span></span></td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
      {#<td>P020</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row" data-sort-value="Page, Michelle"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name and NHS number </span><span class="app-table-cell-value">Page, Michelle<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">407 993 1562</span></span></th>
      <td class="nhsuk-table__cell" data-sort-value="1"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Weeks pregnant and due date </span><span class="app-table-cell-value">1 week<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">20 Jan 2027</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-10-28"><span class="nhsuk-table-responsive__heading" aria-hidden="true">RSV </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 28 Oct 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-08-05"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Pertussis </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 5 Aug 2026</span></span></td>
      <td class="nhsuk-table__cell" data-sort-value="3-2026-09-01"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Flu </span><span class="app-table-cell-value"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong><span class="app-table-secondary-value">From 1 Sep 2026</span></span></td>
    </tr>
  </tbody>
</table>

<div class="nhsuk-pagination-wrapper nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
  <div class="nhsuk-pagination-wrapper__pagination">
    {% if data.filtersApplied == "true" %}
      {{ pagination({
        next: {
          href: "#"
        },
        items: [
          {
            number: 1,
            href: "#",
            current: true
          },
          {
            ellipsis: true
          },
          {
            number: 8,
            href: "#"
          },
          {
            number: 9,
            href: "#"
          },
          {
            number: 10,
            href: "#"
          },
          {
            number: 11,
            href: "#"
          },
          {
            number: 12,
            href: "#"
          }
        ]
      }) }}
    {% else %}
      {{ pagination({
        next: {
          href: "#"
        },
        items: [
          {
            number: 1,
            href: "#",
            current: true
          },
          {
            ellipsis: true
          },
          {
            number: 8,
            href: "#"
          },
          {
            number: 9,
            href: "#"
          },
          {
            number: 10,
            href: "#"
          },
          {
            number: 11,
            href: "#"
          },
          {
            number: 12,
            href: "#"
          },
          {
            ellipsis: true
          },
          {
            number: 42,
            href: "#"
          }
        ]
      }) }}
    {% endif %}
  </div>

  {% if data.filtersApplied == "true" %}
    <div class="nhsuk-pagination-wrapper__results">
      Showing 1 to 20 of 238 patients
    </div>
  {% else %}
    <div class="nhsuk-pagination-wrapper__results">
      Showing 1 to 20 of 1,994 patients
    </div>
  {% endif %}
</div>

<a class="nhsuk-button" data-module="nhsuk-button" href="#/">Export list of patients</a>