<table class="nhsuk-table nhsuk-table-responsive" data-module="nhsuk-table">
  <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Import issues</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="nhsuk-table__header" scope="col">Patient</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col">Due date</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col">Issue</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row">
      {#<td>P001</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Patient </span><span class="app-table-cell-value">Harris, Emily<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">943 476 5910</span></span></th>
      <td class="nhsuk-table__cell" scope="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Due date </span><span class="app-table-cell-value">30 Sep 2026</span></td>
      <td class="nhsuk-table__cell" scope="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Issue </span><span class="app-table-cell-value">Failed to save as a maternity patient</span></td>
    </tr>
    <tr role="row">
      {#<td>P002</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Patient </span><span class="app-table-cell-value">Patel, Aisha<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">627 105 3842</span></span></th>
      <td class="nhsuk-table__cell" scope="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Due date </span><span class="app-table-cell-value">11 Nov 2026</span></td>
      <td class="nhsuk-table__cell" scope="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Issue </span><span class="app-table-cell-value">Patient information not found</span></td>
    </tr>
    <tr role="row">
      {#<td>P003</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Patient </span><span class="app-table-cell-value">Thompson, Chloe<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">518 942 7631</span></span></th>
      <td class="nhsuk-table__cell" scope="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Due date </span><span class="app-table-cell-value">9 Dec 2026</span></td>
      <td class="nhsuk-table__cell" scope="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Issue </span><span class="app-table-cell-value">There was a technical problem</span></td>
    </tr>
    <tr role="row">
      {#<td>P004</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Patient </span><span class="app-table-cell-value">Ahmed, Zara<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">301 687 2459</span></span></th>
      <td class="nhsuk-table__cell" scope="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Due date </span><span class="app-table-cell-value">14 Oct 2026</span></td>
      <td class="nhsuk-table__cell" scope="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Issue </span><span class="app-table-cell-value">Patient record is flagged as sensitive</span></td>
    </tr>
    <tr role="row">
      {#<td>P005</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Patient </span><span class="app-table-cell-value">Walker, Sophie<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">774 209 6583</span></span></th>
      <td class="nhsuk-table__cell" scope="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Due date </span><span class="app-table-cell-value">10 Aug 2026</span></td>
      <td class="nhsuk-table__cell" scope="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Issue </span><span class="app-table-cell-value">The patient has died</span></td>
    </tr>
    <tr role="row">
      {#<td>P006</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Patient </span><span class="app-table-cell-value">Morgan, Lucy<span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour app-table-secondary-value app-table-secondary-value--stacked">485 777 3456</span></span></th>
      <td class="nhsuk-table__cell" scope="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Due date </span><span class="app-table-cell-value">18 Jan 2027</span></td>
      <td class="nhsuk-table__cell" scope="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Issue </span><span class="app-table-cell-value">Patient's NHS number is superseded</span></td>
    </tr>
  </tbody>
</table>

<div class="nhsuk-pagination-wrapper nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
  <div class="nhsuk-pagination-wrapper__results">
    Showing 1 to 6 of 6 patients
  </div>
</div>