<details class="nhsuk-details" {% if hasError %}open{% endif %}>

  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Filter and sort
    </span>
  </summary>

  <div class="nhsuk-details__text app-filter__panel">

    <form action="#/" method="post" novalidate>

      <div class="nhsuk-form-group {% if hasError %}nhsuk-form-group--error{% endif %}">
        <fieldset class="nhsuk-fieldset" {% if hasError %}aria-describedby="filter-options-error"{% endif %}>
          <legend class="nhsuk-fieldset__legend nhsuk-u-visually-hidden" id="filter-options">
            Filter options
          </legend>

          {% if hasError %}
            <span class="nhsuk-error-message" id="filter-options-error">
              <span class="nhsuk-u-visually-hidden">Error:</span> {{ errorMessage }}
            </span>
          {% endif %}

          {# Status #}

          {% set conditionalflustatus %}
            {{ checkboxes({
              idPrefix: "current-flu-status",
              name: "currentflustatus",
              fieldset: { legend: { text: "flu status", classes: "nhsuk-fieldset__legend nhsuk-u-visually-hidden" } },
              classes: "nhsuk-checkboxes--small",
              items: [
                { value: "statusfluvaccinated", text: "Vaccinated" },
                { value: "statusflueligible", text: "Eligible" },
                { value: "statusflunotYetElligible", text: "Not yet eligible" }
              ]
            }) }}
          {% endset %}
          
          {% set conditionalRSVstatus %}
            {{ checkboxes({
              idPrefix: "current-rsv-status",
              name: "currentRSVstatus",
              fieldset: { legend: { text: "RSV status", classes: "nhsuk-fieldset__legend nhsuk-u-visually-hidden" } },
              classes: "nhsuk-checkboxes--small",
              items: [
                { value: "statusRSVvaccinated", text: "Vaccinated" },
                { value: "statusRSVeligible", text: "Eligible", checked: data.filtersApplied == "true" },
                { value: "statusRSVnotYetElligible", text: "Not yet eligible" }
              ]
            }) }}
          {% endset %}

          {% set conditionalPertussisStatus %}
            {{ checkboxes({
              idPrefix: "current-pertussis-status",
              name: "currentPertussisStatus",
              fieldset: { legend: { text: "Pertussis status", classes: "nhsuk-fieldset__legend nhsuk-u-visually-hidden" } },
              classes: "nhsuk-checkboxes--small",
              items: [
                { value: "statusPertussisVaccinated", text: "Vaccinated" },
                { value: "statusPertussisEligible", text: "Eligible" },
                { value: "statusPertussisNotYetElligible", text: "Not yet eligible" }
              ]
            }) }}
          {% endset %}

          {{ checkboxes({
            idPrefix: "eligibilityStatus",
            name: "eligibilityStatus",
            fieldset: { legend: { text: "Status", classes: "nhsuk-fieldset__legend nhsuk-u-font-weight-bold" } },
            classes: "nhsuk-checkboxes--small",
            items: [
              { value: "rsvStatus", text: "RSV status", checked: data.filtersApplied == "true", conditional: { html: conditionalRSVstatus } },
              { value: "pertussisStatus", text: "Pertussis status", conditional: { html: conditionalPertussisStatus } },
              { value: "fluStatus", text: "Flu status", conditional: { html: conditionalflustatus } }

            ]
          }) }}

          {{ checkboxes({
            idPrefix: "invitesAndReminders",
            name: "invitesAndReminders",
            fieldset: { legend: { text: "Invites and reminders", classes: "nhsuk-fieldset__legend nhsuk-u-font-weight-bold" } },
            classes: "nhsuk-checkboxes--small",
            items: [
              { value: "inviteSent", text: "Invite sent" },
              { value: "reminderSent", text: "Reminder sent" },
              { value: "optedOut", text: "Opted out" }

            ]
          }) }}

          {# Weeks pregnant #}
          {{ checkboxes({
            idPrefix: "weeks-pregnant",
            name: "weeksPregnant",
            fieldset: { legend: { text: "Weeks pregnant", classes: "nhsuk-fieldset__legend nhsuk-u-font-weight-bold" } },
            classes: "nhsuk-checkboxes--small",
            hint: {
              text: "You can select more than one"
            },
            items: [
              { value: "weeksPregnant16", text: "Up to 16 weeks" },
              { value: "weeksPregnant17", text: "17 weeks" },
              { value: "weeksPregnant18", text: "18 weeks" },
              { value: "weeksPregnant19", text: "19 weeks" },
              { value: "weeksPregnant20", text: "20 weeks" },
              { value: "weeksPregnant21", text: "21 weeks" },
              { value: "weeksPregnant22", text: "22 weeks" },
              { value: "weeksPregnant23", text: "23 weeks" },
              { value: "weeksPregnant24", text: "24 weeks" },
              { value: "weeksPregnant25", text: "25 weeks" },
              { value: "weeksPregnant26", text: "26 weeks", checked: data.filtersApplied == "true"  },
              { value: "weeksPregnant27", text: "27 weeks" },
              { value: "weeksPregnant28", text: "28 weeks" },
              { value: "weeksPregnant29", text: "29 weeks" },
              { value: "weeksPregnant30", text: "30 weeks" },
              { value: "weeksPregnant31", text: "31 weeks" },
              { value: "weeksPregnant32", text: "32 weeks" },
              { value: "weeksPregnant33", text: "33 weeks" },
              { value: "weeksPregnant34", text: "34 weeks" },
              { value: "weeksPregnant35", text: "35 weeks" },
              { value: "weeksPregnant36", text: "36 weeks or more" }
            ]
          }) }}
        </fieldset>
      </div>

      {# Form submit #}
      <div class="app-actions">
        <button type="button" class="nhsuk-button nhsuk-button--small" data-module="nhsuk-button" onclick="window.location.href = window.location.pathname + '?filtersApplied=true&scenario'">
          Apply
        </button>
        <button type="button" class="nhsuk-button nhsuk-button--secondary nhsuk-button--small" data-module="nhsuk-button" onclick="window.location.href = window.location.pathname + '?filtersApplied&scenario'">
          Clear all
        </button>
      </div>

    </form>

  </div>
</details>

<hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-3">