{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set errorMessages = {
  noFiltersChosen: "Select a filter"
} %}

{% set errorMessage = errorMessages[data.scenario] %}
{% set hasError = errorMessage %}

{% set pageTitle = "Patients" %}

{% block pageTitle %}
  {% if hasError %}Error: {% endif %}{{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__list-item">
        <a class="nhsuk-breadcrumb__link" href="landing">Maternity</a>
      </li>
    </ol>
    <a class="nhsuk-back-link" href="landing">
      <span class="nhsuk-u-visually-hidden">Back to</span> Maternity
    </a>
  </nav>
{% endblock %}

{% block content %}
<style>
  .govuk-applied-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-bottom: 20px;
  }

  .govuk-applied-filter {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    min-height: 38px;
    padding: 0 14px;

    border: 2px solid #b1b4b6;
    border-radius: 8px;
    background: #f3f2f1;

    color: #0b0c0c;
    text-decoration: none;

    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
  }

  .govuk-applied-filter:hover {
    background: #e8e8e8;
    border-color: #6f777b;
    text-decoration: none;
  }

  .govuk-applied-filter:focus {
    background: #ffdd00;
    border-color: #0b0c0c;
    box-shadow: none;
  }

  .govuk-applied-filter__label {
    display: inline-block;
  }

  .govuk-applied-filter__remove {
    font-size: 24px;
    line-height: 1;
    margin-top: -1px;
  }

  /* Table overrides */

  /* Prevent wrapping + tighten table */
  .nhsuk-table {
    table-layout: auto;
  }

  .nhsuk-table th, .nhsuk-table td {
    /*padding: 8px 12px;*/
    padding: 8px 12px 8px 0;
    vertical-align: top;
    font-size: 16px;
  }

  .nhsuk-table__header--wrap {
    white-space: normal;
    line-height: 1.2;
    max-width: 150px;
  }

  .nhsuk-table__header--wrap span {
    display: block;
  }

  /* Pagination overrides */
  .nhsuk-pagination-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; /* keeps pagination + "Showing..." on same line */
    margin-top: 8px; /* tighten gap from table */
  }

  .nhsuk-pagination {
    margin-top: 0; /* remove default big gap */
    margin-bottom: 0;
  }

  .nhsuk-table {
    margin-bottom: 8px; /* tighten space above pagination */
  }

  .nhsuk-pagination-wrapper__results {
    margin-left: auto;
    white-space: nowrap;
  }
  
  /* Eligibility Expander table */
  .eligibility-table .nhsuk-list--bullet li {
    font-size: 16px;
  }

  .eligibility-table .nhsuk-list--bullet {
    margin-bottom: 0;
  }

  .eligibility-table .nhsuk-list--bullet:last-child {
    margin-bottom: 0;
  }

  .eligibility-table .nhsuk-list--bullet li:last-child {
    margin-bottom: 0;
  }
  
  .eligibility-table .nhsuk-body-s {
    margin-bottom: 4px;
  }

  /* Recommended window Summary list */
  .recommended-window .nhsuk-summary-list {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .recommended-window .nhsuk-list--bullet li {
    font-size: 16px;
    
  }

  .recommended-window .nhsuk-list--bullet {
    margin-bottom: 0;
  }

  .recommended-window .nhsuk-list--bullet:last-child {
    margin-bottom: 0;
  }

  .recommended-window .nhsuk-list--bullet li:last-child {
    margin-bottom: 0;
  }

  .recommended-window .nhsuk-summary-list__key {
    width: 140px;
    padding-right: 12px;
  }

  .recommended-window .nhsuk-summary-list__value {
    padding-left: 0;
  }

</style>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {% if hasError %}
      <div class="nhsuk-error-summary" data-module="nhsuk-error-summary">
        <div role="alert">
          <h2 class="nhsuk-error-summary__title">
            There is a problem
          </h2>
          <div class="nhsuk-error-summary__body">
            <ul class="nhsuk-list nhsuk-error-summary__list">
              <li>
                <a href="#filter-options-error">{{ errorMessage }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

    <h1 class="nhsuk-heading-l">
      {{ pageTitle }}
    </h1>

    <p class="nhsuk-body">
      This list was uploaded by <strong>Chloe Liu</strong> at 11:57am on <strong>{{ date({day: 'numeric', month: 'long', year: 'numeric'}) }}</strong>.
    </p>

    <div class="nhsuk-inset-text nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>Vaccination information is updated overnight and not in real time. For a patient’s eligibility status to change, their vaccination must be recorded in RAVS or a GP system.</p>
      <p>Weeks pregnant and eligibility status will update automatically over time for each patient. To change who is on your list, you will need to upload a new CSV file.</p>
    </div>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {% include "mvp-patient-list-and-export/_FilterAndSort.html" %}

    {% if data.filtersApplied == "true" %}
      <p class="nhsuk-body nhsuk-u-padding-top-0 nhsuk-u-margin-bottom-3">Active filters</p>

      <div class="govuk-applied-filters">
        <a href="#/" class="govuk-applied-filter">
          <span class="govuk-applied-filter__remove" aria-hidden="true">
            ×
          </span>
          <span class="govuk-applied-filter__label">
            RSV status: Eligible
          </span>
          <span class="nhsuk-u-visually-hidden">
            Remove filter RSV status Eligible
          </span>
        </a>
        <a href="#/" class="govuk-applied-filter">
          <span class="govuk-applied-filter__remove" aria-hidden="true">
            ×
          </span>
          <span class="govuk-applied-filter__label">
            Weeks pregnant: 26 weeks
          </span>
          <span class="nhsuk-u-visually-hidden">
            Remove filter Weeks pregnant 26 weeks
          </span>
        </a>
      </div>

      <p class="nhsuk-body"><a href="?filtersApplied=false" class="nhsuk-link">Clear all filters and sorting</a></p>

      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-3">

    {% endif %}

    {% set patientCount = "238" if data.filtersApplied == "true" else "1,994" %}

    {{ appSecondaryNavigation({
      visuallyHiddenTitle: "Secondary menu",
      classes: "nhsuk-u-margin-bottom-4",
      items: [
        {
          text: pageTitle ~ " (" ~ patientCount ~ ")",
          href: "#/",
          current: true
        },
        {
          text: "Import issues (6)",
          href: "patients-data-errors"
        }
      ]
    }) }}

    {% include "mvp-patient-list-and-export/_secondayNavContentAllVaccinations.html" %}

  </div>
</div>

{% endblock %}